{
  "env": {
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["jest", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "class-methods-use-this": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "prettier/prettier": ["error"],
    "strict": 0
  }
}
